@{
    ViewData["Title"] = "About Us";
}

    <body style="border:dotted; border-color:white;">
        <style>
            h1 {
                font-style: oblique;
                color: black;
            }
        </style>
        <h1 class="display-4">About Us</h1>
        <p>
            We are college students that are majoring in computer science. We created this web application to show our skills in developing and design. We all came together
            to form this easy access website for readers and writers. We hope you enjoy it!</p>
        <h1 class="display-4">Our Goal</h1>
        <p>We wanted to create a free web application for readers like you to come and enjoy all the free books we offer. The more users means the more books.
        The world works around each individual and that is exactly what our website offer. This website is meant for writers as well as they can publish their book
        here for free to reach readers. It is a great way for people to show their work or write for fun. This is a reader's utopia!</p>
        <img src="https://media.gettyimages.com/photos/young-woman-sitting-on-stack-of-books-using-laptop-at-home-picture-id694035997?k=6&m=694035997&s=612x612&w=0&h=cMI8D9NizgLIoWy6XXfmad73FQVmABAhpxQcl9XF3jA=" object-fit: scale-down;" style="width: 100%; height: auto;" />
    </body>


<div class="text-right">
    <h1 class="display-4">Our Office</h1>
    <style>
        address {
            display: compact;
            font-style: italic;
            color: black;
            font-size: medium;
            border-bottom-style: groove;
            background-color: white
        }
    </style>
    <address>
        Visit Us at: 986 Drucken Ridge Drive,<br>
        Crazy Town, Missippi, 28945 <br>
        Phone = 987-654-3210 <br>
        Email = BookSupportShare@aoi.com <br>
    </address>
</div>

