@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>This is where we will add about us.</p>
    <img src="https://media.gettyimages.com/photos/young-woman-sitting-on-stack-of-books-using-laptop-at-home-picture-id694035997?k=6&m=694035997&s=612x612&w=0&h=cMI8D9NizgLIoWy6XXfmad73FQVmABAhpxQcl9XF3jA=" width="1000" />
</div>