@{ ViewData["Title"] = "Home Page";}




<body >
	<style>
		h1 {
			font-style: oblique;
			color: black;
		}
	</style>

	<h1 class="display-4">Welcome to BookShare</h1>
	<p>Where sharing knowledge is our passion...</p>

</body>

<div class="text-center">
	<h1 class="display-4">What We Offer</h1>
</div>
<div class="text-left">
	<style>
		p {
			display: compact;
			font-style: italic;
			font-size: 16px;
			color: black;
			font-size: medium;
			border-bottom-style: groove;
			background-color: white;
		}
	</style>
	<p>
		Our website is one of a kind website. In our website we allow our users to publish and view books. Our website is free of use but our users will have to sign up for our website.
		After signing up, they log into our site and the user can move around the site and see what kind of functions they can do. We have a variety of options on the site. When you log into our website, you will see a Books tab.
		The Books tab will let the user add new books. The books tab will offer information to be fill when adding the book to the site such as the book title, author, ISBN, and who added the book.
		After loading the books it goes to our database where the book is kept. Customer can add as many books as they want but the admin will check every book that gets added for authentication.
		The users have a search bar where a user can look up a book base off the name of the book or uploader. We also have given option to our users to manage their account on our site when they click their name next to log out.
		This way customers can set up their account how ever they want like adding a profile picture, changing their profile username, and their personal data. Our website is easy to use. If a customer have any question they can contact us by clicking the floating feedback button.
		Our website is all about letting the user enjoy publishing their books for the world to see. We are a friendly website for anybody to use and it is FREE!

	</p>
	<img src="https://s-i.huffpost.com/gen/1585066/images/o-BOOK-HEART-facebook.jpg" object-fit: scale-down;" style="width: 100%; height: auto;" />
</div>
