@{ ViewData["Title"] = "Home Page"; }


<div class="text-center">
	<h1 class="display-4">Welcome to BookShare</h1>
	<p>Where sharing knowledge is our passion...</p>
	<img src="https://s-i.huffpost.com/gen/1585066/images/o-BOOK-HEART-facebook.jpg" width="1000" />
</div>
